
body {
  font-family:sans-serif;
  color:#000000;
  background-color:#777777;
  margin:1em;
}

@media (min-width: 50em) {
  body {
    margin:3em;
  }
}

a:link    { color:#990000; text-decoration: none; }
a:visited { color:#990000; text-decoration: none; }
a:hover   { color:#990000; text-decoration: underline; }
a:active  { color:#990000; text-decoration: none; }

a.button {
  border-width:1px;
  border-style:solid;
  border-color:black;
  padding-left:2em;
  padding-right:2em;
}

a.edit {
  background-color:#009900;
  color:#FFFFFF;
}

a.delete {
  background-color:#990000;
  color:#FFFFFF;
}

a.print {
  background-color:#FFFFFF;
  color:#000000;
}

div.page {
  background-color:#BBBBBB;
  padding:1em;
}

div.note {
  background-color:#AAAAAA;
  padding:1ex;
  margin-top:0.5ex;
  margin-bottom:0.5ex;
  max-width:60em;
}
